@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1937A2;


}

@media (max-width: 480px) {

  .wrapper {
    width: 180px;
    height: 300px;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
  }

  .screen {
    height: 48px;
    width: 100%;
    margin-bottom: 8px;
    padding: 0 8px;
    background-color: #05123D;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }

  .buttonBox {
    width: 100%;
    height: calc(100% - 200px);
    display: grid;
    grid-template-columns: repeat(4, 0.8fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 8px;
    background-color: #BECCFE;
    border-radius: 4px;
    padding: 2px;
  }

  button {
    border: 1px outset #fff;
    background-color: #051961;
    font-size: 16px;
    color: #fff;
    font-weight: medium;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
  }

  button:hover {
    border: 2px solid #fff;
  }

  button:active {
    border: 3px inset #fff;
  }

  .equals {
    grid-column: 3 / 5;
    background-color: #4B04A6;
  }

  .equals:hover {
    border: 2px solid #fff;
  }





}